@import "bootstrap";
@import "font-awesome";

.booyah-box{
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background-color: white;
  border: 1px solid #ccc;
  border-color: black;
  margin-top: 10px;
  margin-bottom: 15px; 
  padding: 20px; 
}


.comment-box{
  margin-top: 10px;
  margin-bottom: 15px; 
  padding: 20px; 
}

.photo-box{
  background: white;
  margin-top: 10px;
  margin-bottom: 15px; 
  padding: 20px; 
}

.booyah-box-users{
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px; 
  padding: 20px; 
}

h1{
  font-family: 'fira_sanseight', sans-serif;
  margin:0;
  padding:0;
}

h2, h3, h4, h5, h6 {
  font-family: 'open_sanslight';
  margin:0;
  padding:0;
}



body{
  background: image_url('dust_scratches.png');
  /* Modern Georgia-based serif stack */
  font-family: 'open_sansregular';
}


.notice {
  font-family: 'fira_sansbook';
  font-size: 14px;
  padding: 20px;

}
.navbar {
  background: image_url('blacklinen.png');
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-inverse .navbar-brand {
  color: #90C3D4;
  font-family: 'fira_sanseight', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.nav-link {
  font-family: 'open_sanslight';
}


.digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5;
    font-family: 'open_sansitalic';
    font-size: 14px;
  }

.digg_pagination {
    font-family: 'open_sansitalic';
    font-size: 14px;
    text-align: center;
  }

.help-block {
  color: #ff3333;
  background-color: #FFEEEE ;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

#map {
  height: 300px;
  }
    
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  }

.clear {
  clear:both;
}


blockquote {
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-family: 'open_sansitalic';
  font-size: 14px;
  line-height: 1.2;
  color: #666;

  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;

  /*Borders - (Optional)*/
  border-left-style: solid;
  border-left-width: 15px;
  border-right-style: solid;
  border-right-width: 2px;
  border-left-color: #5e9de6;
  border-right-color: #4b8ad6;    
}

.img2 {
  max-width: 200px;
  max-height: 200px; 
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  max-height: 550px;
  width: 100%;
}

.carousel-caption{
  font-family: 'open_sansitalic', sans-serif;
  font-weight: 100;
  font-size: 25px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  left: 0;
}
/*
.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}*/

.profile-photo{
  border-style: solid;
  border-radius: 12px;
}

.img-homepage{
  height: 200px;
  width: 200px;
}